<div id="eth_block">
  <h1><%= eth_block.number %></h1>
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>USD</th>
      </tr>
    </thead>
    <tbody>
      <% eth_block.eth_transactions.each do |txn| %>
        <% next if txn.value.zero? %>
        <tr>
          <td><%= txn.from %></td>
          <td><%= txn.to %></td>
          <td><%= txn.value %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
